<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Quill editor stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/main.css">
</head>
<nav class="nav">
    <a href="/" class="logo">
        <p>Richard's Blog Site</p>
    </a>
    <ul>
        <!-- <li class="nav-item"><a href="/">Home</a></li> -->
        <li class="nav-item"><a href="/new-post">New Blog</a></li>
        <!-- <li class="nav-item"><a href="">About</a></li> -->
        <!-- <li class="nav-item"><a href="">Contact</a></li> -->
    </ul>
</nav>
<main class="wrapper">
