<%- include("partials/header.ejs") %>
<!-- Quill editor stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

<h1>New Blog Post</h1>

<form id="form" action="/submit" method="post">
    <label for="blog-title">Blog title</label>
    <input type="text" name="title" id="blog-title">
    <label for="blog-content">Blog Post</label>
    <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
    </div>
    <input type="hidden" name="content" id="blog-content">
    <input type="submit" value="submit">
</form>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script>
    const initialData = {
        title: 'Wall-E',
        // `about` is a Delta object
        // Learn more at: https://quilljs.com/docs/delta
        content: [
            {
                insert:
                    'A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.\n',
            },
        ],
    };

    const quill = new Quill('#editor', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                ['link', 'blockquote', 'code-block', 'image'],
                [{ list: 'ordered' }, { list: 'bullet' }],
            ],
        },
        theme: 'snow',
    });

    // const resetForm = () => {
    //     document.querySelector('[name="title"]').value = initialData.title;
    //     quill.setContents(initialData.content);
    // };

    // resetForm();

    const form = document.querySelector('form');
    let quillContent = quill.getSemanticHTML();
    console.log(quillContent);
    form.addEventListener('formdata', (event) => {
        // Append Quill content before submitting
        event.formData.append('content', JSON.stringify(quillContent));
    });

</script>
<%- include("partials/footer.ejs") %>
